<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <#include "font/index/include/res.ftl"/>
    <style>
        body{width: 100%;height: 100%;margin: 0px;padding: 40px 0px 0px 10px;}
    </style>
</head>
<body>
<div class="container-fluid">
<div class="row" >
    <div class="row" style="padding-left: 20px;">
        <div class="col-md-10">
            <form class="form-inline" action="/">
                <div class="form-group">
                    <label >用户名：</label>
                    <input type="text" class="form-control" name="username" value="${username}" placeholder="请输入关键字查询">
                </div>
                <div class="form-group">
                    <label >邮箱：</label>
                    <input type="text" class="form-control" name="email" value="${email}" placeholder="请输入关键字查询">
                </div>
                <button class="btn btn-info" type="submit">查询</button>
                <button class="btn btn-primary" type="button" id="saveButton">新增</button>
                <button class="btn btn-warning" type="button"  id="updateButton">修改</button>
                <button class="btn btn-danger" type="button" id="deleteButton">删除</button>
            </form>
        </div>

    </div>
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>用户名</th>
                <th>密码</th>
                <th>性别</th>
                <th>年纪</th>
                <th>E-mail</th>
                <th>生日</th>
                <th>备注</th>
            </tr>
            </thead>
            <#list page.content as user>
                <tr>
                    <td><input type="checkbox" value="${user.id}"> </td>
                    <td>${user.username}</td>
                    <td>${user.password}</td>
                    <td><#if user.sex>男<#else>女</#if></td>
                    <td>${user.age}</td>
                    <td>${user.email}</td>
                    <td>${user.birthday}</td>
                    <td>${user.remark}</td>
                </tr>
            </#list>
        </table>
        <p>找到${page.totalElements}条记录,共${page.totalPages}页，当前第${page.number+1}页</p>
        <#if !url?exists>
            <#assign url="./?"/>
        </#if>
        <nav>
            <ul class="pagination">
                <li >
                    <a href="${url}page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <#list page.number-2 .. page.number+1 as t>
                    <#if (t>=1&&t<page.number+1)>
                        <li><a href="${url}page=${t}">${t}</a></li>
                    </#if>
                </#list>
                <li class="active"><a href="${url}page=${page.number+1}">${page.number+1}</a></li>
                <#list page.number+1+1 ..page.number+1+3 as t>
                    <#if (t<=page.totalPages)>
                    <li><a href="${url}page=${t}">${t}</a></li>
                    </#if>
                </#list>
                <li>
                    <a href="${url}page=${page.totalPages-1}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav><!--end page-->
    </div>
</div>
</div><!--contrainer-->

<!-- saveOrUpdateModal新增/修改模态框 -->
<div class="modal fade" id="saveOrUpdateModal" tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"></button>
                <h4 class="modal-title">信息</h4>
            </div>
            <form action="/submit" method="post" id='form'>
                <div class="modal-body">
                    <!-- 隐藏的参数 -->
                    <input id="id" name="id" class="form-control" type="hidden">

                    <div class="form-group">
                        <label for="username">用户名</label> <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label> <input type="text" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label>性别</label>
                        <label class="radio-inline"> <input type="radio" value="true" id="male" name="sex" checked="checked">男</label>
                        <label class="radio-inline"> <input type="radio" value="false" id="female" name="sex">女</label>
                    </div>
                    <div class="form-group">
                        <label for="age">年纪</label> <input type="text" class="form-control" id="age" name="age">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label> <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="birthday">生日</label> <input type="date" class="form-control" id="birthday" name="birthday">
                    </div>
                    <div class="form-group">
                        <label for="remark">备注</label> <input type="text" class="form-control" id="remark" name="remark">
                    </div>
              </div>
            <div class="modal-footer">
                <button type="button" id="sure" class="btn btn-primary">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal div -->
<script>
    // 提交按钮事件
    $("#sure").click(function() {
        $.ajax({
            type: "POST",
            url: "submit",
            dataType: "json",
            data: $("#form").serialize(),
            success: function(data) {
                swal('提交成功', '', 'success');
                setTimeout("reload()",1000);
            },
            error: function (data) {
                swal('提交失败', '请确认网络是否通畅', 'error');
            }
        });
    });

    function reload() {
        // 刷新网页
        window.location.href='';
    }
    
    // 新增按钮点击事件
    $("#saveButton").click(function() {
        // 重置表单数据
        formReset();
        // 展示模态框
        $("#saveOrUpdateModal").modal('show');
    });

    // 修改按钮点击事件
    $("#updateButton").click(function() {
        // 先判断当前选中的用户条数是否有且只有一条
        if ($("input[type='checkbox']:checked").length != 1) {
            swal('操作失败!', '选择一条需要修改的行', 'error');
            return;
        }
        // 根据选中的id异步请求获得用户数据
        var $id = $("input[type='checkbox']:checked").val();
        $.ajax({
            type : "POST",
            url : "getUserById",
            dataType : 'json',
            data : {"id" : $id},
            success : function(data) {
                // 填充数据
                $("#id").val(data.id);
                $("#username").val(data.username);
                $("#password").val(data.password);
                $("input:radio[name=sex]")[0].checked = data.age;
                $("input:radio[name=sex]")[1].checked = !data.age;
                $("#age").val(data.age);
                $("#email").val(data.email);
                $("#birthday").val(data.birthday);
                debugger;
                $("#remark").val(data.remark);
                // 展示模态框
                $("#saveOrUpdateModal").modal('show');
            }
        });
    });

    // 删除按钮点击事件
    $("#deleteButton").click(function() {
        // 判断是否有选中的用户信息
        if ($("input[type='checkbox']:checked").length != 0) {
            swal({
                title : '确定要删除吗?',
                text : "删除是不可逆操作!",
                type : 'warning',
                showCancelButton : true,
                confirmButtonColor : '#3085d6',
                cancelButtonColor : '#d33',
                confirmButtonText : '确定',
                cancelButtonText : '取消'
            }).then(function() {
                var ids= new Array();
                $("input:checkbox:checked").each(function(i,k){
                    var itemId=$(this).val();
                    ids[i]=itemId;
                });
                ids = ids;
                debugger;
                // 删除的方法
               $.ajax({
                    type : "POST",
                    url : "delete",
                    dataType : 'json',
                    data : {ids : ids},
                    success : function(data) {
                        swal('操作成功!', '以删除选中的行', 'success');
                        setTimeout("reload()",1000);
                    }
                });

            });
        } else {
            swal('操作失败!', '先选择需要删除的行', 'error');
        }
    })

    // 重置表单的方法
    function formReset() {
        /*$("#id").val("");
        $("#username").val("");
        $("#password").val("");
        $("input:radio[name=sex]")[0].checked = true;
        $("#age").val("");
        $("#email").val("");
        $("#birthday").val("");
        $("#remark").val("");*/

        /*

            注意!这样reset表单是不会重置隐藏字段的!!

        */
        $('#form')[0].reset();

        //alert("隐藏字段id="+$("#id").val());
        // 手动重置
        $("#id").val("");
    }

    /**
     * 表单验证
     */
    $("#form").bootstrapValidator({
        feedbackIcons : {
            valid : 'glyphicon glyphicon-ok',
            invalid : 'glyphicon glyphicon-remove',
            validating : 'glyphicon glyphicon-refresh'
        },
        submitButtons : '#sure',
        fields : {
            // 多个重复
            username : {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {/*非空提示*/
                        message: '用户名不能为空'
                    },
                    stringLength: {/*长度提示*/
                        min: 6,
                        max: 30,
                        message: '用户名长度必须在6到30之间'
                    }
                }
            },
            password : {
                message:'密码无效',
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z][a-zA-Z0-9]{1,15}$/,
                        message: '必须以英文字母开头,且只能包含英文字母和数字'
                    },
                    stringLength: {
                        min: 6,
                        max: 15,
                        message: '密码长度必须为6到15位之间'
                    }
                }
            },
            age : {
                validators : {
                    message:'年龄无效',
                    notEmpty : {
                        message : '年龄不能为空'
                    },
                    between : {
                        min : 1,
                        max : 120,
                        message : '1-120之间'
                    }
                }
            },
            birthday : {
                validators : {
                    date : {
                        min : '1897-4-13',
                        message : '生日有误,请重新选择'
                    }
                }
            },
            email : {
                validators : {
                    notEmpty : {
                        message : '邮箱不能为空'
                    },
                    emailAddress : {
                        message : '邮箱地址有误'
                    }
                }
            }
        }
    });

</script>

</body>
</html>